<div class="background"></div>
<div class="container">
  <mat-form-field>
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium">
  </mat-form-field>

  <div class="mat-elevation-z16">
    <table mat-table [dataSource]="dataSource" matSort>

      <!-- Position Column -->
      <ng-container matColumnDef="rank">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Rank </th>
        <td mat-cell *matCellDef="let element"> {{element.rank}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="nom">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Nom </th>
        <td mat-cell *matCellDef="let element"> {{element.nom}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="prix">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Prix </th>
        <td mat-cell *matCellDef="let element"> {{element.prix}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="change">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Change (24Hr) </th>
        <td mat-cell *matCellDef="let element"> {{element.change}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[15, 25, 50]" showFirstLastButtons></mat-paginator>
  </div>
</div>
